@import 'Rate'
// --------------
body
    background-color: #f0f0f0
html, *
    padding: 0
    margin: 0
    box-sizing: border-box
// ---------------------------------
.flx
    display: flex
.f-center
    justify-content: center
    align-items: center
.f-between
    justify-content: space-between
.f-column
    flex-direction: column
.abs
    position: absolute
// ---------------------------------
.options
    width: 100%
.center
    margin: auto
// ---------------------------------
.root-page
    max-width: 1440px
    width: 100%
    min-height: 100vh
    margin: auto
    background-color: #fff
// ---- Header -----------------
.ch-money
    cursor: pointer
    height: 2.5em
    width: 2.5em
    border-right: grey solid 1px
// ---- FILTER PANEL -----------
.filter-panel-wrap
    height: 2.5em
    background-color: #d5dde0
.panel-view
    cursor: pointer
    height: 2.5em
    width: 2.5em
    border-right: grey solid 1px
.img-small
    width: 100px
// -----------------------------
.product-cards-wrap
    border: #cccccc solid 1.5px
    padding: 1em 0
    flex-wrap: wrap

.card
    margin-left: 1em
    position: relative
    border: solid 1px #cccccc
// ------------------------------
.old-cost
    text-decoration: line-through
.new-cost
    color: #DB3022
    font-family: Open Sans
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 20px
.card-discount
    top: 11px
    left: 8px
    color: white
    width: 50px
    height: 27px
    background: #DB3022;
    border-radius: 29px;